// Variables
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

// Typography
// EN

$global-font-family: "BMEULJIRO",
Poppins,
AppleSDGothicNeo-Light,
"HelveticaNeue",
sans-serif !default;
$white: #fff !default;
$black: #000 !default;
$gray-darker: lighten($black, 13.5%) !default; // #222
$gray-dark: lighten($black, 20%) !default; // #333
$gray: lighten($black, 33.5%) !default; // #555
$gray-light: lighten($black, 46.7%) !default; // #777
$gray-lighter: lighten($black, 93.5%) !default; // #eee

$bg-color: #f0fafc !default;
$hover-color: #00ffde !default;
$footer-color: #66797d !default;
$border-color: #24a39b !default;

$color-black: $black !default;
$color-primary: #74bca5 !default; // #337ab7
$color-secondary: #13377e !default;
$color-third : #0f2b6f !default;
$color-success: #5cb85c !default;
$color-info: #5bc0de !default;
$color-warning: #f0ad4e !default;
$color-danger: #e82a2c !default;

$color-primary2: lighten($color-primary, 3%) !default;
$text-color: $gray-dark !default;

//** Global textual link color.
$link-color: $color-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;

$font-size-base: 16px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-regular: ceil(($font-size-base * 0.9375)) !default; // ~ 15px
$font-size-small: ceil(($font-size-base * 0.875)) !default; // ~14px

// Bootstrap Variables
$enable-grid-classes: true !default;
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: ( // sm: 540px,
  // md: 720px,
  //lg: 960px,
  xl: 1220px) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;