// [id*="kboard"] {
.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
[id*="kboard"] .modal-body {
  position: relative;
  padding: 50px 20px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  -webkit-overflow-scrolling: touch;
  &.in {
    .modal-dialog {
      transform: translateY(-50%);
    }
  }
  .modal-dialog {
    position: relative;
    max-width: 600px;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    padding-top: 30px;
    max-height: 800px;
    overflow-y: auto;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;
      outline: 0;
      background-color: transparent;
      border: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .modal-content {
      position: relative;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      outline: 0;
      transition: all 1s;
    }
  }
  &.fade {
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
  &.in {
    display: block;
    &.fade {
      opacity: 1;
    }
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  &.in {
    opacity: 0.5;
  }
}
