.site-main {
    section {
        &.section_visual {
            height: 100%;
            background: #9a0000;
            background: -moz-linear-gradient(left, #9a0000 0%, #9a0000 100%);
            background: -webkit-linear-gradient(left, #9a0000 0%, #9a0000 100%);
            background: linear-gradient(to right, #9a0000 0%, #9a0000 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a0000', endColorstr='#9a0000', GradientType=1);

            .video-wrap {
                #myVideo {
                    position: fixed;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }
    }
}