.single-post-wrap {

    h2 {
        font-size: 3rem;
        line-height: 1;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid #ddd;
    }

    p {
        font-size: 1.125rem;
    }
}