.site-page {
    .sub_header {
        background: #9a0000;
        background: -moz-linear-gradient(left, #9a0000 0%, #9a0000 100%);
        background: -webkit-linear-gradient(left, #9a0000 0%, #9a0000 100%);
        background: linear-gradient(to right, #9a0000 0%, #9a0000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a0000', endColorstr='#9a0000', GradientType=1);

        header {
            display: table;
            width: 100%;
            min-height: 18.75rem;

            h2 {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size: 4rem;
                color: $white;
            }
        }
    }

    .sub_contents {
        padding: 5rem 0;
        background-color: #ededed;

        @include respond-max(sm) {
            padding: 20px 0;
        }

        // gallery
        .grid {
            display: flex;
            flex-wrap: wrap;
            margin: -1rem;

            @include respond-max(sm) {
                margin: -10px;
            }

            .grid-sizer,
            .grid-item {
                @include respond-max(md) {
                    width: 50%;
                }

                width: 33.333%;
            }

            div.grid-item {
                a {
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    position: relative;
                    padding: 1rem;
                    color: $black;

                    @include respond-max(sm) {
                        padding: 10px;
                    }

                    figure {
                        overflow: hidden;

                        img {
                            max-width: 100%;
                            width: 100%;
                            transition: all 0.5s ease-in-out;
                        }
                    }

                    .description {
                        padding: 1.25rem 0.9375rem;
                        background-color: $white;

                        p {
                            margin: 0;
                        }
                    }

                    &:hover {
                        figure {
                            img {
                                transform: scale3d(1.1, 1.1, 1.1);
                            }
                        }
                    }
                }
            }
        }

        #myForm {
            text-align: center;

            input {
                &[type="text"] {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 25rem;
                    width: 100%;

                    @include respond-max(md) {
                        max-width: 250px;
                        font-size: 1rem;
                    }

                    height: 40px;
                    line-height: 40px;
                    font-size: 1.25rem;
                    padding-left: 10px;
                    border: 1px solid $color-primary;

                    &+input {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 40px;
                        height: 40px;
                        padding: 0 1rem;
                        background-color: $color-primary;
                        border: 1px solid $color-primary;
                    }
                }
            }
        }

        #venues {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                // @-moz-keyframes borderscale {
                //     50% {
                //         box-shadow: 0 0 0 2px #000;
                //     }
                // }

                // @-webkit-keyframes borderscale {
                //     50% {
                //         box-shadow: 0 0 0 2px #000;
                //     }
                // }

                // @keyframes borderscale {
                //     50% {
                //         box-shadow: 0 0 0 2px #000;
                //     }
                // }

                input[type="checkbox"] {
                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;

                    &+label {
                        position: relative;
                        padding-left: 26px;
                        font-weight: normal;

                        &[for="venue-0"] {
                            color: red;
                            text-decoration: line-through;
                        }

                        &:before,
                        &:after {
                            box-sizing: content-box;
                            position: absolute;
                            content: '';
                            display: block;
                            left: 0;
                        }

                        &:before {
                            top: 50%;
                            width: 16px;
                            height: 16px;
                            margin-top: -10px;
                            border: 2px solid #333;
                            text-align: center;
                            background-color: $white;
                        }

                        &:after {
                            background-color: transparent;
                            top: 50%;
                            left: 5px;
                            width: 7px;
                            height: 4px;
                            margin-top: -5px;
                            border-style: solid;
                            border-color: #f00;
                            border-width: 0 0 3px 3px;
                            -moz-transform: rotate(-45deg) scale(0);
                            -ms-transform: rotate(-45deg) scale(0);
                            -webkit-transform: rotate(-45deg) scale(0);
                            transform: rotate(-45deg) scale(0);
                            -moz-transition: none;
                            -o-transition: none;
                            -webkit-transition: none;
                            transition: none;
                        }
                    }

                    &:hover {
                        &+label {
                            &:before {
                                border-color: #000;
                            }
                        }
                    }

                    &:active {
                        &+label {
                            &:before {
                                transition-duration: 0;
                                filter: brightness(0.2);
                            }
                        }
                    }

                    &:checked {
                        &+label {
                            &:before {}

                            &:after {
                                content: '';
                                -moz-transform: rotate(-45deg) scale(1);
                                -ms-transform: rotate(-45deg) scale(1);
                                -webkit-transform: rotate(-45deg) scale(1);
                                transform: rotate(-45deg) scale(1);
                                -moz-transition: -moz-transform 200ms ease-out;
                                -o-transition: -o-transform 200ms ease-out;
                                -webkit-transition: -webkit-transform 200ms ease-out;
                                transition: transform 200ms ease-out;
                            }
                        }
                    }
                }

                label {
                    line-height: 24px;
                    // margin-left: 10px;
                    // display: inline-block;
                    // vertical-align: middle;
                }
            }
        }

        #result {
            margin-top: 10px;
            text-align: center;

            .reject {
                background-color: $white;
                border: 2px solid $color-primary;
                padding: 10px 20px;
            }
        }

        #wheel {
            canvas {
                display: block;
                margin: 0 auto;
                width: 800px;
                height: 600px;

                @include respond-max(md) {
                    width: 360px;
                    height: 300px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}